mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;


    a {
        text-decoration: none;
        color: #f4f4f4;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        gap: 1.6rem;
        list-style-type: none;

        a {
            font-size: 1rem;
        }
    }
}