<mat-toolbar color="primary">
    <span> <a routerLink="/">My Messsages</a></span>
    <ul>
        <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/create">New Post</a></li>
        <li *ngIf="!userIsAuthenticated"><a mat-button routerLink="/login">Login</a></li>
        <li *ngIf="!userIsAuthenticated"> <a mat-button routerLink="/signup">Signup</a></li>
        <li *ngIf="userIsAuthenticated"><button mat-button (click)="onLogout()">Logout</button></li>
    </ul>

</mat-toolbar>