<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <form *ngIf="!isLoading" [formGroup]="form" (ngSubmit)="login()">

        <mat-form-field>
            <input matInput type="email"  placeholder="E-Mail ID" formControlName="email" required email>
        </mat-form-field>


        <mat-form-field>
            <input matInput type="password"  placeholder="Password" formControlName="password" required>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
    </form>
    
</mat-card>