<mat-card>

    <form>

        <mat-form-field>
            <input matInput type="text" [(ngModel)]="enteredTitle" [ngModelOptions]="{standalone: true}"
                placeholder="Post Title" required>
        </mat-form-field>


        <div>

            <div *ngIf="this.imgUrl" class="preview-container">
                <img [src]="imgUrl" alt="preview image">
            </div>

            <button mat-button type="button" (click)="selectFile.click()">Pick Image</button>
            <input type="file" hidden #selectFile (change)="onImageSelect($event)" />
        </div>


        <mat-form-field>
            <textarea matInput rows="6" [value]="newPost" [(ngModel)]="enteredContent"
                [ngModelOptions]="{standalone: true}" placeholder="Post content" required></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onSavePost()"
            [disabled]="!enteredTitle  || !imgUrl || !enteredContent">Save Post</button>

    </form>

</mat-card>