:host {
    display: block;
    margin-top: 1rem;
}

.post-image {
    width: 100%;
    text-align: center;
    img{
        width: 55%;
        box-shadow: 1px 1px 5px  rgba($color: #000000, $alpha: 0.5);
    }
}