<mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            {{post.title}}
        </mat-expansion-panel-header>

        <div class="post-image">
            <img [src]="post.imagePath" [alt]="post.title">
        </div>

        <p>{{post.content}}</p>

        <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
            <button mat-button color="primary" [routerLink]="['edit', post._id]">EDIT</button>
            <button mat-button color="warn" (click)="onDelete(post._id)">DELETE</button>
        </mat-action-row>

    </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"></mat-paginator>

<p *ngIf="posts.length <= 0">No posts added yet!</p>